/* Selector Universal */
*{
    padding: 0 auto;
    margin: 0 auto;
}
#contenedor{
    width: 1200px;
    background-color: #94d7db;
 }
 #button{
    text-align: center;
    font-family: Arial;
    color: black;
    font-size: 12px;
    margin: 1cm;
 }

/* Selector de Clase */
.texto{
    text-align: center;
    font-family: Arial;
    color: white;
    font-size: 16px;
    margin: 1cm;
    border-radius: 3px;
    border: 2px solid rgb(250, 250, 250);
    background-color: black;   
}
.titulo{
    text-align: center;
    font-family: Arial;
    color: black;
    font-size: 40px;
}
.subtitulo{
    text-align: center;
    font-family: Arial;
    color: black;
    font-size: 30px;
}